<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-template [ngIf]="items">
    <ion-card *ngFor="let item of items; let g = index">
     <ion-card-header>
      <ion-icon name="ios-sunny-outline"></ion-icon>
       {{ item.name }}
     </ion-card-header>
      <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let subItem of item.subItems; let i = index;">
                <ion-label fixed class="custom-label">I AM</ion-label>
                <ion-input item-content
                                  mode="md"
                                  type="text"
                                  placeholder="..."
                                  [(ngModel)]="subItem.value"
                                  [readonly]="!subItem.enabled"
                                  autocomplete="false"></ion-input>
              </ion-item>
            </ion-list>
          </ion-card-content>
      </ion-card>
  </ng-template>
</ion-content>
